@model DeviantGames.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <dl id="game-details" class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Developer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Developer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Publisher)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </dd>

                    @if (Model.Genres.Count != 0)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Genres)
                        </dt>
                        <dd>
                            @Model.Genres.ToString();
                        </dd>
                    }

                </dl>
            </div>

            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt></dt>
                    <dd><img src="@Model.CoverImage" height="500" width="300" /></dd>
                </dl>
            </div>
        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<style>
    #game-details, dd{
        font-size: 20px;
        margin: 20px;
    }
</style>
