@model IEnumerable<DeviantGames.Models.Game>

@{
    ViewBag.Title = "Store";
}


<p>
    @if (User.IsInRole("Admin"))
    {
        <input type="button" class="btn btn-primary" value="Add New Game" onclick="location.href='@Url.Action("Create", "Games")'" />
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            <img src="@item.CoverImage" height="200" width="130"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                //<button data-movie-id="@item.id" class="btn-link js-delete">Delete</button>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            }
            |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @if (User.IsInRole("Admin"))
            {
                //<button data-movie-id="@item.id" class="btn-link js-delete">Delete</button>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
